---
export const prerender = false

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import Prose from '$/components/Prose.astro'
import { Content as AboutAstroInk } from './_astro-ink.md'


const title = 'Home'
const description = ''

const posts = await getCollection('blog')
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <div class="hero ">
        <div class="hero__face">
            <div class="author-card">
                <img src="./assets/TETOlogo.svg" title="TETOlogo" alt="TeTologo" />
            </div>
        </div>
        <div class="hero__says">
            <Prose>
                <AboutAstroInk/>
            </Prose>
        </div>
    </div>
    <hr/>
    <PostPreviewList posts={posts.slice(0, 3)} heading="recent posts"/>
    <div class="page__actions">
        <a class="action__go-to-blog ink-h" href="/blog" title="All Posts">All Posts &rarr;</a>
    </div>
</DefaultPageLayout>

<style>
    .hero {
        @apply flex flex-col md:flex-row gap-8 w-full transition-all pb-4;
    }
    .hero__face {
        @apply flex md:flex-none justify-center;
    }
    .hero__says {
        @apply flex-1 text-center md:text-left;
    }

    /* contenitore del logo con effetto vetro */
    .author-card {
        @apply h-64 w-64 md:h-64 rounded-full shadow-xl 
           bg-white/10 dark:bg-black/40 
           backdrop-blur-md
           border border-white/30 dark:border-black/30; /* bordo soft */
    }

    .author-card img {
        @apply rounded-full h-64 w-64 md:h-64 border border-white/40 dark:border-black/90; 
    }



    .page__actions {
        @apply flex justify-center md:justify-end py-6;
    }
    .action__go-to-blog {
        @apply py-4 hover:underline;
    }
</style>

