---
import { toTitleCase } from '$/utils'
import { NAV_ITEMS } from '$/config'

const navItems = NAV_ITEMS(Astro.base); // <-- qui usiamo la base corretta
---
<nav class="nav py-3">
    <ul class="nav-list dark:text-theme-dark-secondary" transition:animate="fade">
         {
            Object.keys(navItems).map(navItemKey => <li>
                <a class:list={[
                    `pb-1 border-b-2 hover:border-gray-400 hover:dark:border-gray-700 `,
                    Astro.url.pathname !== navItems[navItemKey].path ? 'border-gray-100 dark:border-gray-800': '',
                    Astro.url.pathname === navItems[navItemKey].path ? 'border-theme-primary' : ''
                ]} href={navItems[navItemKey].path} title={navItems[navItemKey].title}>{toTitleCase(navItems[navItemKey].title)}</a>
            </li>)
        }
    </ul>
</nav>
